h1 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'open sans', sans-serif;
}
h1 {
    font-size: 4 em;
    font-weight: 600;
}
h2 {
    color:#4CAF50; 
}
body {
    background-color: #ECEFF1;
}
p.highlight {
    font-size: 16px;
    color:#FFC107;
    
}
p {
    font-size: 18px;
    color:#546E7A;
}
p {
    font-size: 20px;
    color: #78909C;
}

ul li:nth-child(1) {
    list-style-type: disc; 
}

ul li:nth-child(2) {
    list-style-type: circle; 
}

ul li:nth-child(3) {
    list-style-type: square; 
}

ul li:nth-child(4) {
    list-style-type: disclosure-open; 
}

ul li:nth-child(5) {
    list-style-type: square; 
}




